$baseColor : rgb(210, 228, 247);
$width-box : 100%;
$height: 550px;
$cursor: pointer;
$weight: 400;
$baseBorder: 1px black solid;
button{
  cursor:$cursor;
}
* {
   margin: 0;
   padding: 0;
}

.top {
   height: 100px;
   width: 100%;
   background: linear-gradient(to left, rgb(210, 228, 247), rgb(105, 167, 232));
   ;
   position: absolute;
   top: 0;
}

.bottom {
   height: 100px;
   width: 100%;
   background: linear-gradient(to left, rgb(210, 228, 247), rgb(105, 167, 232));
   position: absolute;
   bottom: 0;
}

#main {
   background: url(../test/img/background.jpg) no-repeat;
   background-size: 100% 550px;
   margin-top: 100px;
   height: $height;
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: $width-box;
   display: flex;
   justify-content: center;

   #logUp {
      bottom: 10%;
      left: 32%;
      cursor: $cursor;
      position: absolute;

      span {
         font-size: 12px;
      }

      button {
         border: none;
         background: rgba(0, 0, 0, 0);
         color: black;
      }

      button:hover {
         color: purple;
      }
   }

   #btn {
      background-color: beige;
      border-radius: 5px;
      color: rgb(167, 182, 182);
      width: $width-box;
      height: 20px;
      margin-top: 20px;
      border: none;
      cursor: $cursor;
   }

   .user {
      height: $height;
      margin-top: 75px;
      width: $width-box/4;
      padding-right: 30px;
      font-size: 10px;
      line-height: 2;

      h2 {
         font-weight: $weight;
         font-size: 30px;
         color: deepskyblue;
      }

      h3 {
         font-size: 20px;
         font-weight: $weight;
      }

      p {
         font-weight: $weight/2;
         font-size: 15px;
         }
         .showimg{
            width: 30px;
         top: 52.5%;
         cursor: pointer;
         left: 45.5%;
         position: absolute;
      }

      .loginForm {
         width: $width-box;
         input {
            cursor: text;
            border: none;
            height: 20px;
            background-color: $baseColor;
            border-bottom: $baseBorder;
            width: $width-box;
            outline: none;
            margin: 10px 0;
         }
         #code {
            cursor: text;
            border-bottom: $baseBorder;
            margin: 10px 0;
            width: $width-box/2;
         }

         .codeimg {
            width: 70px;
            height: 20px;
            display: block;
            background-color: #fff;
            border: 0.5px black solid;
            border-radius: 2px;
         }

      }
   }

   .img {
      img {
         width: 120%;
         height: $height;
         position: relative;
      }

      p {
         width: $width-box/4;
         position: absolute;
         left: 54%;
         transform: translate(0, -125%);
         top: 150px;
         text-align: center;
         line-height: 1.5;
         cursor: pointer;
         color: antiquewhite;
         font-size: 25px;
      }
   }
}

.signIn {
   background: url(../test/img/signup.jpg);
   width: 350px;
   height: 350px;
   border: $baseBorder;
   display: none;
   position: absolute;
   border-radius: 5px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   h2 {
      font-size: 30px;
      color: ivory;
      text-align: center;
      margin-top: 10px;
      font-weight: $weight;
   }

   .signdiv {
      left: 80px;
      position: relative;
      top: 5px;

      h3 {
         font-size: 20px;
         font-weight: $weight;
      }

      input {
         width: 200px;
         height: 20px;
         border-radius: 3px;
         outline: none;
         border: $baseBorder;
      }

      button {
         margin-top: 25px;
         margin-right: 25px;
         cursor: pointer;
         width: 25%;
         height: 25px;
         background: cornflowerblue;
         border: none;
         border-radius: 5px;
      }
      #codebtn {
         width: 20%;
         height: 20px;
         margin-top: 0;
      }
      .signShow{
         width: 30px;
         top: 29%;
         cursor: pointer;
         left:48%;
         position: absolute;
      }
   }
}